{% extends "layout.html" %} \

{% block content %}
    <div class="container py-4">
        <h2>Admin Dashboard</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <!-- <div class="card-header">Header</div> -->
                <div class="card-body">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>


        </div>
    </div>

{% endblock content %}