{% extends "layout.html" %} 
{% block content %}

<div
class="container-md pt-5 mt-4 justify-content-center align-items-center"
style="height: 90vh"
>
<h2 class="h2 mb-4 font-weight-normal">More Options</h2>

<div class="container bg-light w-100 mb-5 rounded">
    <h6 class="display-6 mb-4">All Tracks</h6>

    {% if songs | length == 0 %}
            <p class="lead">No records found.</p>
        {% else %}
            <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">Songs</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                    <tr>
                        <td>{{ song.id }}</td>
                        <td>{{ song.title }}</td>
                        <td>
                            <a href="{{ url_for('play_song', song_id=song.id) }}" class="btn btn-info btn-sm">Details</a> |
                            <a href="" class="btn btn-danger btn-sm">Blacklist</a>
                        </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>    
            {% endif %}
</div>

<div class="container bg-light w-100 mb-3 rounded">
    <h3 class="display-6 mb-4">All Creators</h3>
    {% if creators | length == 0 %}
        <p class="lead">No records found.</p>
    {% else %}
    <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">S. No.</th>
            <th scope="col">Creator</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for creator in creators %}
            <tr>
                <td>{{ creator.id }}</td>
                <td>{{ creator.name }}</td>
                <td>
                    <a href="" class="btn btn-danger btn-sm">Blacklist</a>
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>    
    {% endif %}

    
</div>

</div>
{% endblock content %}