{% extends "layout.html" %} 
{% block content %}
<div
  class="container-sm d-flex justify-content-center align-items-center"
  style="height: 90vh">

  <form
  method="post"
  action=""
  style="margin-top: 5em; margin-bottom: auto; margin-bottom: auto"
  class="form-outline w-50">
    {{ form.hidden_tag() }}

    <h3 class="h3 mb-3 font-weight-normal text-center">Create a Playlist</h3>

    <div class="mb-3">
        <p class="lead text-center">
          Club your favourite songs together in a playlist.
        </p>
      </div>
  

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >{{ form.name.label }}</label
        >
        {% if form.name.errors %} 
          {{ form.name(class="form-control") }} 
            <div class="text-danger">{{ form.name.errors[0] }}</div>
        {% else %} 
              {{ form.name(class="form-control") }} 
        {% endif %}
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Song 1
        </label>
      </div>


      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Song 2
        </label>
      </div> 
      
      
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Song 3
        </label>
      </div>  

    <div>{{ form.submit(class="btn btn-primary my-3") }}</div>

</div>    

  </form>

  


></div>

{% endblock content %}
