{% extends "layout.html" %} {% block content %}

<div class="container py-4">
  <h6 class="display-6">Hi, {{  current_user.name  }}</h6>
  <div class="container">
    <h2>All Tracks</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
      <div class="col">
        <div class="card shadow-sm bg-primary-subtle">
          <img src="{{  url_for('static', filename='/song.png')  }}" class="img-thumbnail rounded mb-1 shadow-sm mx-auto" alt="song" width="200 px" height="200 px";>
          <div class="card-body">
            <p class="card-text">
              <p class="mb-0">Song Name</p>
              <p><small>Artist Name</small></p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Play
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm bg-primary-subtle">
          <img src="{{  url_for('static', filename='/song.png')  }}" class="img-thumbnail rounded mb-1 shadow-sm mx-auto" alt="song" width="200 px" height="200 px";>
          <div class="card-body">
            <p class="card-text">
              <p class="mb-0">Song Name</p>
              <p><small>Artist Name</small></p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Play
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm bg-primary-subtle">
          <img src="{{  url_for('static', filename='/song.png')  }}" class="img-thumbnail rounded mb-1 shadow-sm mx-auto" alt="song" width="200 px" height="200 px";>
          <div class="card-body">
            <p class="card-text">
              <p class="mb-0">Song Name</p>
              <p><small>Artist Name</small></p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Play
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm bg-primary-subtle">
          <img src="{{  url_for('static', filename='/song.png')  }}" class="img-thumbnail rounded mb-1 shadow-sm mx-auto" alt="song" width="200 px" height="200 px";>
          <div class="card-body">
            <p class="card-text">
              <p class="mb-0">Song Name</p>
              <p><small>Artist Name</small></p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Play
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm bg-primary-subtle">
          <img src="{{  url_for('static', filename='/song.png')  }}" class="img-thumbnail rounded mb-1 shadow-sm mx-auto" alt="song" width="200 px" height="200 px";>
          <div class="card-body">
            <p class="card-text">
              <p class="mb-0">Song Name</p>
              <p><small>Artist Name</small></p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Play
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm bg-primary-subtle">
          <img src="{{  url_for('static', filename='/song.png')  }}" class="img-thumbnail rounded mb-1 shadow-sm mx-auto" alt="song" width="200 px" height="200 px";>
          <div class="card-body">
            <p class="card-text">
              <p class="mb-0">Song Name</p>
              <p><small>Artist Name</small></p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Play
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
